<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="Contexto" connectionString="Data Source=127.0.0.1,1433\MSSQL$SQLEXPRESS;Initial Catalog=Advocacia;Persist Security Info=True;User ID=sa;Password=sa12345;MultipleActiveResultSets=True;Encrypt=false" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>